* {
    margin: 0px;
    padding: 0px;
    color: #703e9e;
}

#formulario {
    border: 1px solid black;
    margin: 10px;
    padding: 15px;
    width: 300px;
}

#botao {
    width: 120px;
    padding: 3px;
}