* {
    margin: 0px;
    padding: 0px;
    color: #703e9e;
}

#formulario {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    width: 300px;
}

.btn {
    background-color: aquamarine;
    border: none;
    width: 100px;
    padding: 5px;
    border-radius: 50px;
}