html {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:antiquewhite;
    color:darkslategray;
    margin-left: 100px;
    margin-right: 100px;
}


.cabecalho {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.principal-home, .sobre {
    padding-top: 50px;
}

/* .cadastro {
    width: 500px;
    text-align: start;
    align-items: center;
} */

a {
    text-decoration: none;
    color: darkslategray;
}

.lista-cabecalho, ul, li {
    width: 800px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    text-align: end;
}

.div-cad_aluno, .div-cad_professor {
    justify-content: center;
    padding-top: 50px;
    align-items: center;
}

.form-cad_aluno, .form-cad_professor {
    width: 400px;
    justify-content: center;
}

#div-tabela, #tabela {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#thead {
    padding-top: 50px;
    text-align: left;
    font-weight: 500;
}

#tbody {
    padding-top: 10px;
    text-align: left;
}