html {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:antiquewhite;
    color:darkslategray;
    margin-left: 150px;
    margin-right: 150px;
    line-height: 1,5px;
    font-weight: 400;
    font-size: 16px;
}


.cabecalho {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: large;
    text-align: center;
}

.principal-home, .sobre {
    padding-top: 50px;
}

a {
    text-decoration: none;
    color: darkslategray;
}

.lista-cabecalho, ul, li {
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
    text-align: end;
}

.div-cad_aluno, .div-cad_professor, #materias, #turmas {
    margin-left: 380px;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-cad_aluno, .form-cad_professor, fieldset {
    width: 400px;
    text-align: left;
    background-color: rgb(211, 147, 166);
    border-radius: 25px;
    padding: 25px;
}

.botao, select {
    border-color: rgb(165, 42, 79);
    color: darkslategray;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    /* width: 380px; */
}

.botao {
    background-color:rgb(255, 215, 215);
    margin-top: 10px;
    margin-right: 20px;
}

.input {
    background-color:rgb(255, 215, 215);
    margin-top: 10px;
    margin-right: 20px;
}

#div-tabela, #tabela {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#thead {
    padding-top: 50px;
    text-align: left;
    font-weight: 500;
}

#tbody {
    padding-top: 10px;
    text-align: left;
}

#container-siscad {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}